@model IEnumerable<SheQuInfo.Models.Model.User>
<div class="bs-docs-section SearchContent">
    <div class="page-header">
        <h2>
            用户管理</h2>
    </div>
    <div class="table-responsive">
        @Html.CreateLink()
        <table class="table table-bordered table-hover" targeturl="/User/Index">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        用户描述
                    </th>
                    <th>
                        所在角色
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.UserDesc
                        </td>
                        <td>
                            @string.Join(",", item.Roles.Select(s => s.RoleName).ToArray())
                        </td>
                        <td>@Html.EditLink(item.Id)
                            @Html.ShortcutLink("删除", "Remove", new { id = item.Id })
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>